.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
}

address {
  font-style: normal;
  margin-top: 20px;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__job {
  padding-top: 0;
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.section__team {
  background: #f5f4fa;
}

.container__header {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* portfolio */
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  background: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.botton__list {
  justify-content: center;
  display: flex;
}

.botton__item:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 29px;
  display: block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
}

.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0;
  text-align: center;
  color: #212121;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clients__item {
  padding: 0;
  border-radius: 4%;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border-color: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 20px;
}

.footer__contacts {
  display: block;
  align-items: center;
}

.footer__item__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.form__container {
  margin-left: 93px;
}

.form__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  padding: 15px 16px;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button__icon {
  margin-left: 10px;
  fill: #fff;
}

.footer__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #fff;
}

.footer__social {
  display: block;
  margin-left: 70px;
}

.footer__social__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.footer__social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.footer__social__item {
  padding: 0;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__social__item:not(last-child) {
  margin-right: 10px;
}

.footer__social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social__link:focus, .footer__social__link:hover {
  background: #2196f3;
}

.footer__icon {
  fill: #fff;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 100%;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--active {
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: 0%;
  width: 100%;
  bottom: -3px;
  left: 0;
  background: #2196f3;
}

.cont__list {
  display: flex;
  margin-left: auto;
}

.cont__item:not(:last-child) {
  margin-right: 50px;
}

.cont__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont__link:hover, .cont__link:focus {
  color: #2196f3;
}

.cont__icon {
  margin-right: 10px;
  fill: #757575;
}

.cont__link:hover .cont__icon {
  fill: #2196f3;
}

.cont__link:focus .cont__icon {
  fill: #2196f3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-h.jpg);
  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.job__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.job {
  display: flex;
}

.job__item:not(:last-child) {
  margin-right: 30px;
}

.job__item:not(:last-child):not(:last-child) {
  margin-right: 30px;
}

.job__thumb {
  position: relative;
}

.job__animation {
  display: flex;
  font-weight: 700;
  line-height: 1.14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

.header__logo, .header__logo--dark, .footer__logo, .footer__logo--white {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  text-decoration: none;
}

.header__logo {
  padding: 24px 0;
  color: #2196f3;
}

.header__logo--dark {
  color: #212121;
}

.footer__logo {
  color: #2196f3;
}

.footer__logo--white {
  color: #fff;
}

.modal-animation {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translateY(200%) scale(2);
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  margin: 0;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  position: relative;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.modal-form-input {
  cursor: pointer;
  padding: 12px 42px;
  width: 100%;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.icon-form {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage {
  display: block;
  padding: 12px 16px;
  width: 100%;
  margin-top: 6px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form-massage::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field:focus-within .modal-form-input {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-field:focus-within .icon-form {
  outline: none;
  fill: #2196f3;
}

.modal-form-field:focus-within .modal-form-massage {
  outline: none;
  border: 1px solid #2196f3;
}

.label-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.checkbox-flag {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.form-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 55px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.documet-link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 4px;
}

.icon-check {
  margin-bottom: 4px;
  border: 2px solid #000;
  fill: #fff;
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flag {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.flag:checked ~ .icon-check {
  border: none;
  background-color: #2196f3;
}

.flag:focus ~ .icon-check {
  border-color: #2196f3;
}

.svg-modal:hover,
.svg-modal:focus {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.pecul__list {
  display: flex;
}

.pecul__title {
  box-sizing: content-box;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}

.pecul__tumba {
  background-color: #fff;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pecul__icons {
  width: 70px;
  height: 70px;
}

.portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.portfolio__item {
  position: relative;
}

.portfolio__item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__tumba {
  margin-top: -5px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #fff;
}

.portfolio__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  color: #757575;
  font-weight: 400;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__hover {
  position: relative;
  overflow: hidden;
}

.hover__text {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.portfolio__link:hover .hover__text,
.portfolio__link:focus .hover__text {
  transform: translateY(0);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.socials__item {
  padding: 0;
  border: none;
  background-color: #fff;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .icon,
.social__link:focus .icon {
  fill: #fff;
}

.team__list {
  display: flex;
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
}

.tumba {
  padding: 30px 0;
}

.team__item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}
/*# sourceMappingURL=main.css.map */