.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  padding: 0;
  border-radius: 4%;
  align-items: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}
