.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.nav {
  margin-left: 93px;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 100%;
  color: $color-black;
  transition: color $trans-duration $timing-function;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}
.nav__link--active {
  color: $color-blue;
  padding-top: 32px;
  padding-bottom: 32px;
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    bottom: 0%;
    width: 100%;
    bottom: -3px;
    left: 0;
    background: $color-blue;
  }
}
.cont__list {
  display: flex;
  margin-left: auto;
}
.cont__item:not(:last-child) {
  margin-right: 50px;
}
.cont__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-gray;
  transition: color $trans-duration $timing-function;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}
.cont__icon {
  margin-right: 10px;
  fill: $color-gray;
}
.cont__link:hover .cont__icon {
  fill: $color-blue;
}
.cont__link:focus .cont__icon {
  fill: $color-blue;
}
