.pecul__list {
  display: flex;
}
.pecul__title {
  box-sizing: content-box;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $color-black;
}
.pecul__tumba {
  background-color: $color-white;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pecul__icons {
  width: 70px;
  height: 70px;
}
