.portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.portfolio__item {
  position: relative;
  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}
.portfolio__link {
  display: block;
  transition: box-shadow $trans-duration $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__tumba {
  margin-top: -5px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: $color-white;
}
.portfolio__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $color-black;
}
.portfolio__text {
  color: $color-gray;
  font-weight: 400;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio__hover {
  position: relative;
  overflow: hidden;
}
.hover__text {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform $trans-duration $timing-function;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: $color-white;
}
.portfolio__link:hover .hover__text,
.portfolio__link:focus .hover__text {
  transform: translateY(0);
}
