.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.socials__item {
  padding: 0;
  border: none;
  background-color: $color-white;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color $trans-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $color-blue;
  }
}

.icon {
  fill: #afb1b8;
  transition: fill $trans-duration $timing-function;
  .social__link:hover &,
  .social__link:focus & {
    fill: $color-white;
  }
}
