.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.button-icons {
  padding: 0;
  border: none;
  background-color: #fff;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    fill: #fff;
  }
}
.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
